<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style-carrousel.css">
</head>
<body>
    <section class="carousel">
        <div class="carousel__container">
            <div class="carousel-item">
                <img class="carousel-item__image" src="https://images.pexels.com/photos/5430038/pexels-photo-5430038.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" alt="">
                <div class="carousel-item__details">
                    <div>
                        <img src="https://img.icons8.com/flat_round/64/000000/play--v1.png" alt="play">
                        <img src="https://img.icons8.com/flat_round/50/000000/plus.png" alt="plus">
                    </div>
                    <p class="carousel-item__details--title">Titulo Descriptivo</p>
                    <p class="carousel-item__details--subtitle">2019 16+ 114 minutos</p>
                </div>
            </div>
            
            <div class="carousel-item">
                <img class="carousel-item__image" src="https://images.pexels.com/photos/1769413/pexels-photo-1769413.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" alt="">
                <div class="carousel-item__details">
                    <div>
                        <img src="https://img.icons8.com/flat_round/64/000000/play--v1.png" alt="play">
                        <img src="https://img.icons8.com/flat_round/50/000000/plus.png" alt="">
                    </div>
                    <p class="carousel-item__details--title">Titulo Descriptivo</p>
                    <p class="carousel-item__details--subtitle">2019 16+ 114 minutos</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="carousel-item__image" src="" alt="">
                <div class="carousel-item__details">
                    <div>
                        <img src="https://img.icons8.com/flat_round/64/000000/play--v1.png" alt="play">
                        <img src="https://img.icons8.com/flat_round/50/000000/plus.png" alt="">
                    </div>
                    <p class="carousel-item__details--title">Titulo Descriptivo</p>
                    <p class="carousel-item__details--subtitle">2019 16+ 114 minutos</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="carousel-item__image" src="" alt="">
                <div class="carousel-item__details">
                    <div>
                        <img src="https://img.icons8.com/flat_round/64/000000/play--v1.png" alt="play">
                        <img src="https://img.icons8.com/flat_round/50/000000/plus.png" alt="">
                    </div>
                    <p class="carousel-item__details--title">Titulo Descriptivo</p>
                    <p class="carousel-item__details--subtitle">2019 16+ 114 minutos</p>
                </div>
            </div>
            <div class="carousel-item">
            <img class="carousel-item__image" src="" alt="">
                <div class="carousel-item__details">
                    <div>
                        <img src="https://img.icons8.com/flat_round/64/000000/play--v1.png" alt="play">
                        <img src="https://img.icons8.com/flat_round/50/000000/plus.png" alt="">
                    </div>
                    <p class="carousel-item__details--title">Titulo Descriptivo</p>
                    <p class="carousel-item__details--subtitle">2019 16+ 114 minutos</p>
                </div>
            </div>
    </section>
</body>
</html>