

.carousel {
    margin: 0 auto;
    width: 90%;
    overflow: scroll;
    padding: 30px;
    position: relative; /* Todos los elementos que esten dentro de este se posicionara en relacion a este padre*/
}

.carousel > h2{
    color: white;
    font-family: inherit;
}

.carousel__container{
    white-space: nowrap; /* Para que no sobresalga el texto */
    margin: 70px 0;
    padding-bottom: 10px;
}

.carousel__container:hover .carousel-item {
    opacity: 0.3;

}

.carousel__container:hover .carousel-item:hover{
    transform: scale(1.5);
    opacity: 1;
}

.carousel-item{
    background-color: red;
    width: 200px;
    border-radius: 20px ;
    height: 250px;
    overflow: hidden;
    margin-right: 10px ;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    position: relative;
}

.carousel-item:hover ~ .carousel-item{
    transform: translate3d(100px, 0, 0);
}

.carousel-item__image{
    height: 250px;
    width: 200px;
    object-fit: cover; /* Se podria hacer un background image pero no conviene en este caso porque se aplicaria a todas las clases */
}

.carousel-item__details{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    font-size: 10px;
    opacity: 0;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* Atencion a esto */
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.carousel-item__details img{
    height: 15px;
}

.carousel-item__details p{
    margin: 0;
}

.carousel-item__details:hover{
    opacity: 1;
    color: white;
}

.carousel::-webkit-scrollbar-thumb {
background:red;
width: 2px; 
height: 2px; 
border-radius: 4px;
}
.carousel::-webkit-scrollbar {
width: 0px; 
height: 0px;   
background:transparent;
border-radius: 4px;
}
.carousel::-webkit-scrollbar:hover {
width: 2px; 
height: 2px; 
background:red;
box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
.carousel::-webkit-scrollbar:hover:active {
width: 2px; 
height: 2px; 
background: transparent;
}